header
  .container
    nav
      .logo
        a(href="./index.html")
          img(src="./img/grandviewfashion-logo.png")
      ul
        li
          a(href="./index.html") หน้าแรก 
        li
          a(href="./index.html#service") บริการเช่าชุด
        li
          a(href="./index.html#contactus") ติดต่อเรา 
  .contact-top
    .container
      a(href="https://line.me/R/ti/p/%40grandviewfashion", target="_blank").line
      a(href="https://www.facebook.com/Grandviewfashion-1771605763115493/", target="_blank").facebook
      a(href="https://www.instagram.com/Grandviewfashion/", target="_blank").ig
      //- a(href="https://www.google.com/maps?q=13.783470537551301,100.6145907193422", target="_blank").location
      .clearfix
      p วันจันทร์ - ศุกร์ 11:00 น. — 19:00 น.<br/>วันเสาร์ 11:00 น. — 17:00 น. (หยุดวันอาทิตย์) <br/>เช่าชุดนัดล่วงหน้า  Line@ : @grandviewfashion (มี@ครับ)
      .clearfix 
      a(href="tel:0992915636").tel 099-291-5636 (สาขาลาดพร้าว - โชคชัย 4)
      a(href="tel:0917893696").tel 091-789-3696 (สาขารังสิต - ลำลูกกาคลอง 4)
      