footer
	.container
		p Copyright © Since 2016 by GrandView Fashion. <br/>All rights reserved
		// Histats.com  START (html only)
		a(href='/', alt='page hit counter', target='_blank')
			embed(src='http://s10.histats.com/107.swf', flashvars='jver=1&acsid=2110734&domi=4', quality='high', width='170', height='20', name='107.swf', align='middle', type='application/x-shockwave-flash', pluginspage='http://www.macromedia.com/go/getflashplayer', wmode='transparent')
		img(src='//sstatic1.histats.com/0.gif?2110734&101', border='0')
		// Histats.com  END
// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
// Include all compiled plugins (below), or include individual files as needed
<script id="salesdesk-widget-script" src="https://api-salesdesk.readyplanet.com/js/salesdesk-widget.min.js" type="text/javascript" charset="UTF-8">{"business_id":"a374f9b5cdeaf9a4f8b8a8952568f762","phone_number":"0992915636","line_id":"@grandviewfashion","facebook_id":"1771605763115493","language":"th","button_menu":{"background_color":"#2196F3","display_text":"สอบถามโปรโมชั่น คลิก","display_tooltip":"always","display_position_name":"bottom-right","display_position_custom":{"top":0,"left":0,"right":15,"bottom":15}},"use_tracking":["contact_form","click_to_call","line","facebook"],"tracking_config":{"contact_form":{"button_action_name":"แบบฟอร์ม"},"click_to_call":{"button_action_name":"โทรศัพท์"},"line":{"button_action_name":"แชทผ่าน LINE"},"facebook":{"button_action_name":"แชทผ่าน Facebook"}}}</script>
script(src='js/bootstrap.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.lazyload.min.js')
script(src='js/slick.min.js')
script(src='js/saledesk.js')
script(src='js/app.js')