doctype html
html(lang='en')
	include ./header.jade
	meta(http-equiv='refresh', content="3; url=http://grandviewfashion.com/")
	body
		//-Header
		.container
			br
			.text-center
				br
				br
				p 
					strong Granddiamond789 เปลี่ยนชื่อเป็น Grandviewfashion	
				p กำลังเปลี่ยนเว็บไปที่ Grandviewfashion.com
				br
				a(href="http://grandviewfashion.com") คลิกที่นี่ถ้าหากเว็บไม่เปลี่ยนหน้าอัตโนมัติ
			br