doctype html
html(lang='en')
	include ./header.jade
	body
		noscript
			iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-MLKBMNC', height='0', width='0', style='display:none;visibility:hidden')
		//-Header
		include ./common.jade
		.before-start
		.container.service-page
			.row
				.col-md-2.col-sm-3.service-list
					.navbar-header(type='button', data-toggle='collapse', data-target='#grandviewfashion-service-list', aria-expanded='false')
						button.navbar-toggle.collapsed
							span.glyphicon.glyphicon-chevron-down 
						a.navbar-brand(href="#").visible-xs เลือกประเภทชุด
					#grandviewfashion-service-list.collapse.navbar-collapse
						ul
							li
								a(data-id="02", data-title="บริการเช่าชุดขอเฝ้า-ไทยจิตรลดา", data-description="บริการให้เช่า ชุดขอเฝ้า, ชุดเข้าเฝ้า, ชุดเข้าวัง, ชุดไว้ทุกข์สีขาว, ชุดไทยจิตรลดาสีดำ-สีขาว เป็นชุดตัดใหม่ เกรดเอ มีทุกไซต์ งานสวย การันตีความสะอาด เหมาะสำหรับผู้บริหาร และประชาชนทั่วไปสำหรับงานพิธีขอเฝ้ากราบพระบรมศพฯ และงานพิธีสำคัญต่าง ๆ", href="./service-jitlada.html") ชุดขอเฝ้า-ไทยจิตรลดา
							li
								a(data-id="02", data-title="บริการเช่าชุดแฟนซี",data-description="แกรนด์วิว แฟชั่น ลาดพร้าว บริการให้เช่าชุด ชุดแฟนซี ชุดคอสเพลย์ ชุดแฟนซีดอกไม้ ชุดคัลเลอร์ฟูล ชุดแฟนซีสัตว์ ชุดนางฟ้า ชุดแม่มด ชุดคนป่าและอินเดียแดง ชุดฮาโลวีน ชุดอวกาศ ชุดหนัง ชุดฮาวาย ชุดแมททริค ชุดซุปเปอร์ฮีโร่ ชุดซานต้า ชุดแซนตี้ สำหรับงานออกต่างๆ ให้เช่าชุดพร้อมเครื่องประดับในชุดครบ หรือเช่าแต่ชุดก็ได้เช่นกัน",  href="./service-fancy.html") ชุดแฟนซี
							li
								a(data-id="03",data-title="บริการเช่าชุดราตรีสั้น", data-description="แกรนด์วิว แฟชั่น ลาดพร้าว บริการให้เช่าชุดราตรี ชุดราตรีงานประกวด ชุดราตรียาวงานพรหมแดง ราตรีงานรับรางวัลต่างๆ ราตรีสั้น ชุดเดรสสั้น ชุดราตรีเพื่อนเจ้าสาว มีหลากหลายสี หลายเนื้อผ้า หลากหลายแบบ หลายไซส์", href="./service-shortnight.html") ชุดราตรีสั้น
							li
								a(data-id="04",data-title="บริการเช่าชุดราตรียาว", data-description="แกรนด์วิว แฟชั่น ลาดพร้าว บริการให้เช่าชุดราตรี ชุดราตรีงานประกวด ชุดราตรียาวงานพรหมแดง ราตรีงานรับรางวัลต่างๆ ราตรีสั้น ชุดเดรสสั้น ชุดราตรีเพื่อนเจ้าสาว มีหลากหลายสี หลายเนื้อผ้า หลากหลายแบบ หลายไซส์", href="./service-longnight.html") ชุดราตรียาว
							li
								a(data-id="05",data-title="บริการเช่าชุดไทย", data-description="แกรนด์วิว แฟชั่น ลาดพร้าว บริการให้เช่าชุดไทย ชุดไทยประยุกต์ ชุดไทยจักรี ชุดไทยล้านนา ชุดสุโขทัย ชุดไทยจิตรลดา ชุดไทยบรมพิมาน ชุดไทยสี่ภาค ชุดไทยเรือนต้น ชุดไทยรัชกาลต่างๆ เช่น รัชกาลที่ 5 , รัชกาลที่ 6 , รัชกาลที่ 7 ชุดไทยราชประแตน ชุดไทยชาย ชุดไทยเพือนเจ้าสาว ชุดไทยเพื่อนเจ้าบ่าว ชุดไทยแต่งงาน ชุดไทยโจงกระเบน ชุดไทยโบราณ ชุดไทยพระเจ้าตาก ชุดไทยแขนกระบอก ชุดนาคี ฯลฯ ชุดไทยให้เช่าพร้อมเครื่องประดับ ชุดใหม่สะอาด ใช้สำหรับออกงานสำคัญได้ทั่วไป หรืองานพิธีสำคัญต่างๆ   ให้เช่าชุดพร้อมเครื่องประดับในชุดครบ หรือสามารถเช่าแต่ชุด หรือเช่าแต่เครื่องประดับแยกได้เช่นกัน", href="./service-thai.html") ชุดไทย
							li
								a(data-id="06",data-title="บริการเช่าชุดนักร้องชาย", data-description="แกรนด์วิว แฟชั่น ลาดพร้าว บริการให้เช่าชุดสูทชาย สูทสากล สูทแฟนซี สูทปกติ สูททักซิโด้ สูทปกกล้วยหอม สูทปกแหลม สูทเจ้าชาย สูทนักร้อง สูทแฟนซีชาย สูทคัลเลอร์ฟูล สูทลูกทุ่ง สูทเพชร สูทผ้าเลื่อม สูทผ้ากำมะหยี่สีต่างๆ สูทออกงาน สูททั่วไป มากมายหลายสี หลายไซส์ ชุดใหม่ สะอาด ให้เช่าเสื้อสูท พร้อมเสื้อเชิ้ต เสื้อกั๊ก กางเกง หูกระต่าย คาดเอวสูท หรือเช่าแยกเป็นชิ้นได้เช่นกัน", href="./service-malesinger.html") ชุดนักร้องชาย
							li
								a(data-id="07",data-title="บริการเช่าชุดนักร้องหญิง", data-description="", href="./service-womensinger.html") ชุดนักร้องหญิง
							li
								a(data-id="08",data-title="บริการเช่าชุดนานาชาติ", data-description="แกรนด์วิว แฟชั่น ลาดพร้าว บริการให้เช่าชุดนานาชาติ(INTERNATIONNAL)  ชุดอาเซียน(ASEAN)  ชุดเออีซี(AEC)  ชุดยุโรป ชาติต่างๆ  เช่น  ชุดจีน ชุดฮองเต้ ชุดฮองเฮา ชุดจีนโบราณ ชุดอินเดีย ชุดสาหรี่ ชุดจินนี่ ชุดพม่า ชุดเกาหลี ชุดญี่ปุ่น ชุดลาว ชุดอินโดนีเซีย ชุดมาเลเซีย ชุดบรูไน ชุดฟิลิปปินส์ ชุดกรีก ชุดกรีกโรมัน ชุดฝรั่งเศส ชุดเยอรมัน ชุดบาวาเลี่ยน ชุดอียิปต์ ชุดคลีโอพัตรา ชุดสิงคโปร์ ชุดสเปน ชุดเวียดนาม ชุดนานาชาติต่างๆ มีทั้งชายและหญิง เช่าเป็นทีมหรือเช่าเดี่ยวได้ มีหลากหลายสี หลายไซส์ ชุดใหม่ สะอาด มีแบบนานาชาติให้เลือกมากมาย", href="./service-international.html") ชุดนานาชาติ
							li
								a(data-id="09",data-title="บริการเช่าชุดพม่า - เพลิงพระนาง", data-description="", href="./service-firedrama.html") ชุดพม่า - เพลิงพระนาง
							li
								a(data-id="10",data-title="บริการเช่าชุดเจ้าชาย", data-description="", href="./service-king.html") ชุดเจ้าชาย
							li
								a(data-id="11",data-title="บริการเช่าชุดเจ้าหญิง", data-description="แกรนด์วิว แฟชั่น ลาดพร้าว บริการให้เช่าชุดเจ้าหญิง ชุดดิสนีย์ ชุดทิงเกอร์เบลล์ ชุดปีเตอร์แพน ชุดอันนา ชุดเอลซ่า ชุดซินเดอเรลล่า ชุดหลุยส์ ชุดเจ้าหญิงต่างๆ มีหลายไซส์ เช่าเป็นทีมหรือเช่าเดี่ยวได้ หลายสี ชุดใหม่ สะอาด มีแบบชุดหลายหลายมากมาย ฯลฯ", href="./service-queen.html") ชุดเจ้าหญิง
							li
								a(data-id="12",data-title="บริการเช่าชุดแดนซ์เซอร์", data-description="แกรนด์วิว แฟชั่น ลาดพร้าว บริการให้เช่าชุดแดนเซอร์ ชุดหางเครื่อง ชุดลูกทุ่ง ชุดนักร้อง ชุดมีทั้งชายและหญิง เช่าเป็นทีม เช่าเดี่ยวได้ มีทุกไซส์ ทุกสี ชุดใหม่ สะอาด มีแบบเยอะหลากหลายมากมาย", href="./service-dancer.html") ชุดแดนซ์เซอร์
							li
								a(data-id="29",data-title="บริการเช่าชุดจีน", data-description="", href="./service-chinese.html") ชุดจีน
							li
								a(data-id="26",data-title="บริการเช่าชุดคอสเพลย์", data-description="", href="./service-cosplay.html") ชุดคอสเพลย์
							li
								a(data-id="28",data-title="บริการเช่าชุดนางเงือก", data-description="", href="./service-mermaid.html") ชุดนางเงือก
							li
								a(data-id="13",data-title="บริการเช่าชุดสัตว์", data-description="", href="./service-animal.html") ชุดสัตว์
							li
								a(data-id="27",data-title="บริการเช่าชุดขนนก - นางฟ้า", data-description="", href="./service-bird.html") ชุดขนนก - นางฟ้า
							li
								a(data-id="14",data-title="บริการเช่าชุดคนป่าและอินเดียแดง", data-description="", href="./service-backwoodsman.html") ชุดคนป่าและอินเดียแดง
							li
								a(data-id="15",data-title="บริการเช่าชุดซานต้า - แซนตี้", data-description="", href="./service-santa.html") ชุดแซนตี้ - แซนต้า
							li
								a(data-id="16",data-title="บริการเช่าชุดหนัง", data-description="", href="./service-leather.html") ชุดหนัง
							li
								a(data-id="17",data-title="บริการเช่าชุดแฟนซีเด็ก", data-description="แกรนด์วิว แฟชั่น ลาดพร้าว บริการให้เช่าชุดเด็ก ชุดสูทเด็ก ชุดแฟนซีเด็ก ชุดซุปเปอร์ฮีโร่ ชุดคอสเพลย์เด็ก ชุดเจ้าชายเด็ก ชุดไทยเด็ก ชุดนานาชาติเด็ก ชุดสัตว์ของเด็ก ต่างๆ ฯลฯ ", href="./service-childfancy.html") ชุดแฟนซีเด็ก
							li
								a(data-id="18",data-title="บริการเช่าชุดฮาโลวีน", data-description="", href="./service-halloween.html") ชุดฮาโลวีน
							li
								a(data-id="19",data-title="บริการเช่าชุดย้อนยุค", data-description="แกรนด์วิว แฟชั่น ลาดพร้าว บริการให้เช่าชุดย้อนยุค สมัยต่างๆ เช่น ชุดย้อนยุควนิดา ชุดย้อนยุคลายดอก ชุดย้อนยุคจุฑาเทพ ชุดย้อนยุคทองกวาว ชุดย้อนยุคแหยม ชุดย้อนยุคคัลเลอร์ฟลู ชุดย้อนยุคเอลวิส เพรสลีย์ ชุดมาริลีน มอนโรว์ และชุดย้อนยุคต่างๆ ฯลฯ ให้เช่าพร้อมเครื่องประดับในชุดครบ หรือเช่าแต่ชุดก็ได้เช่นกัน ", href="./service-oldstyle.html") ชุดย้อนยุค
							li
								a(data-id="20",data-title="บริการเช่าชุดย้อนยุคชาย", data-description="", href="./service-retromen.html") ชุดย้อนยุคชาย
							li
								a(data-id="21",data-title="บริการเช่าชุดอาชีพ", data-description="แกรนด์วิว แฟชั่น ลาดพร้าว บริการให้เช่าชุดอาชีพต่างๆ อาชีพในฝัน เช่นชุดนักบิน ชุดกัปตัน ชุดแอร์โฮสเตส ชุดพยาบาล ชุดทหาร ชุดตำรวจ ชุดนักเรียนมัธยม ชุดนักเรียนญี่ปุ่น ชุดเมด ชุดแม่บ้าน ชุดนักมวย ชุดทหารญี่ปุ่น ชุดโกโบริ ชุดดับเพลิง และชุดอาชีพต่างๆ ให้เช่าชุดพร้อมอุปกรณ์ พ็อบต่างๆ ฯลฯ", href="./service-occupation.html") ชุดอาชีพ
							li
								a(data-id="22",data-title="บริการเช่าชุดฮาวาย", data-description="", href="./service-hawaii.html") ชุดฮาวาย
							li
								a(data-id="23",data-title="บริการเช่าชุดซุปเปอร์ฮีโร่", data-description="", href="./service-superhero.html") ชุดซุปเปอร์ฮีโร่
							li
								a(data-id="24",data-title="บริการเช่าชุดกรีกโรมัน", data-description="", href="./service-roman.html") ชุดกรีกโรมัน
							li
								a(data-id="30",data-title="บริการเช่าชุดคลีโอพัตรา", data-description="", href="./service-cleo.html") ชุดคลีโอพัตรา
							li
								a(hdata-id="25",data-title="บริการเช่าชุดแกสบี้", data-description="", href="./service-gasby.html") ชุดแกสบี้
							li
								a(hdata-id="31",data-title="บริการเช่าชุดเจ้าหญิงจัสมิน", data-description="", href="./service-jasmine.html") ชุดเจ้าหญิงจัสมิน
							li
								a(hdata-id="32",data-title="บริการเช่าชุดเอลวิส", data-description="", href="./service-elvis.html") ชุดเอลวิส
							li
								a(hdata-id="32",data-title="บริการเช่าชุดอินเดีย", data-description="", href="./service-indian.html") ชุดอินเดีย
				.col-md-10.col-sm-9.service-content
					.title
						p.description
						p สนใจชุดหรือสอบถามข้อมูลเพิ่มเติมที่ 091-789-3696, 099-291-5636 หรือ 
							a(href="./index.html#contactus") ติดต่อเรา 
					.row
						.page-number 
					.row.photo-list.popup-gallery
						//- .col-md-3.col-sm-4.col-xs-6
						//- 	a(href="./service/service-fancy/img/13121401.JPG")(data-original="./service/service-fancy/thumbnail/13121401.JPG", style="background-image: url('./img/placeholder.jpg')").lazy
					.row
						.page-number
		//-Footer
		include ./footer.jade
		script(src='js/image.js?v=1')